<ion-content>
  <div class="mainDiv">
    <span class="mainHeading"> Timings </span>
    <div *ngFor="let food of foodDetails?.data" >
      <span class="subHeading">{{food.foodWorkoutName}}:</span>
      <span class="paragraph"> {{food.startTime}}</span>
    </div>
  </div>
</ion-content>