.mainDiv{
    padding: 15px 10px;
    div{
        display: block;
        padding: 3px 0;
    }
}
.mainHeading{
    display: block;
    color: white;
    font-weight: 700;
    padding: 10px 0px;
}
.subHeading{
    color: #dcd018;
    font-weight: 700;
}
.paragraph{
    color: white;
}