
.tfaLogo {
    text-align: center;
    margin-top: 10%;
}
.bacgroundCircle{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.mainDiv{
    display: flex;
    align-items: center;
}
.mainHeading{
    display: block;
    color: black;
    font-weight: 700;
}
.innerDiv{
    background: #617c8f;
    margin: 0 0 0 -35px;
    padding: 7px 35px;
    width: 105%;
    border-radius: 5px;
}
.playerImg{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    z-index: -1;
}