
<ion-content>
  <div class="tfaLogo">
    <img src="../../assets/imgs/Logo.png" class="appLogo" />
  </div>
  <ion-grid>
    <ion-row *ngFor= "let player of playerList?.data" [routerLink]="['/profile', player.id]">
      <ion-col size="2" style="z-index: 1;">
        <div class="bacgroundCircle">
          <img src="../../assets/imgs/userImage.jpg" class="playerImg"/>
        </div>
      </ion-col>
      <ion-col size="10" style="z-index: 0;" class="mainDiv">
        <div class="innerDiv">
          <span class="mainHeading"> {{player.fullName}} </span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>