<ion-content>
  <div class="tfaLogo">
    <img src="../../assets/imgs/Logo.png" class="appLogo" />
  </div>
  <form  [formGroup]="addFoodForm" (ngSubmit)="addFood()">
    <ion-grid>
      <ion-row class="timeRow">
    <ion-label class="selectTimeLabel">Time</ion-label>
    <ion-datetime  formControlName="startTime" class="selectTime" displayFormat="h:mm A"  placeholder="PM 12:00"></ion-datetime>
    <ion-icon class="arrowIcon" name="ios-arrow-down"></ion-icon>
  </ion-row>
  <ion-row class="wakeupRow">
      <ion-label   class="selectTimeLabel">Food Type</ion-label>
      <!-- <ion-datetime class="selectTime" displayFormat="h:mm A"  placeholder="PM 12:00"></ion-datetime>
      <ion-icon class="arrowIcon" name="ios-arrow-down"></ion-icon> -->

      <div  class="selectTime">
        <ion-select formControlName="foodWorkoutName" [okText]="'Ok'"
          [cancelText]="'Cancel'"
          [placeholder]="'Select Food type'">
          <ion-select-option value="Break Fast">
           Break Fast
          </ion-select-option>
          <ion-select-option value="Lunch">
            Lunch
           </ion-select-option>
           <ion-select-option value="Dinner">
            Dinner
           </ion-select-option>
           <ion-select-option value="Snacks">
           Snacks
           </ion-select-option>
        </ion-select>
      
      </div>
      <!-- <ion-icon class="arrowIcon" name="ios-arrow-down"></ion-icon> -->
    </ion-row>
    <ion-row>
      <ion-label class="selectTimeLabel">Food Description</ion-label>
      <div  class="selectTime textArea">
      <ion-textarea  formControlName="foodDescription" placeholder="Food Description"></ion-textarea>
    </div>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button type="submit" class="submitBtn">Save</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </form>
</ion-content>