.selectTime{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    width: 80%;
    margin-left: 10%;
    padding-left: 10px;
    text-align: center;
    color: white;
    font-size: 21px;
    font-weight: 800;
}
.selectTimeLabel
{
    color: yellow;
    font-size: 18px;
    font-weight: 800;
    margin-left: 10%;
}
.timeRow
{
  //  margin-top: 20%
}
.wakeupRow
{
    margin-top: 6%
}
.arrowIcon
{
    display: inline;
    position: absolute;
    padding: 11% 0 0 74%;
    color: yellow;
    font-size: 21px;
}
ion-item.div.item-native
{
    background: transparent !important;
}
.select-icon {
display: none;
}
.select-icon-inner
{
    display: none;
}
.textArea
{
    text-align: left;
}
.submitBtn
{
    width: 80%;
    margin-left: 10%;
   // padding-left: 10px;
    text-align: center;
  //  color: white;
   // font-size: 21px;
    //font-weight: 800;
}