<ion-content>
  <div class="tfaLogo">
    <img src="../../assets/imgs/Logo.png" class="appLogo" />
  </div>
  <form [formGroup]="sleepForm" (ngSubmit)="addSleep()">
    <ion-grid>
      <ion-row class="timeRow">
    <ion-label class="selectTimeLabel">Sleep Time</ion-label>
    <ion-datetime formControlName="startTime" class="selectTime" displayFormat="h:mm A"  placeholder="PM 12:00"></ion-datetime>
    <ion-icon class="arrowIcon" name="ios-arrow-down"></ion-icon>
  </ion-row>
  <ion-row class="wakeupRow">
      <ion-label class="selectTimeLabel">Wakeup Time</ion-label>
      <ion-datetime formControlName="endTime" class="selectTime" displayFormat="h:mm A"  placeholder="PM 12:00"></ion-datetime>
      <ion-icon class="arrowIcon" name="ios-arrow-down"></ion-icon>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button type="submit" class="submitBtn">Save</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  </form>
</ion-content>