
.signup
{
    float: right;
    display: block;
    color: var(--white);
    font-size: 18px;
    //font-weight: 700;
    padding: 10px 0;
}
.card
{
    width: 85%;
    margin-left: 7%;
   
}
.forgetPassword
{
    float: left;
    display: block;
    color: var(--white);
    font-size: 18px;
    //font-weight: 700;
    padding: 10px 0;   
}
.iconImg {
    height: 31px;
    width: 41px;
    margin-bottom: 5px;
  }
  .coliconImg
  {
      padding: 0;
    height: 20px!important;
    width: 20px !important;
  }
  .usernameinp
  {
    bottom: 170%;
    height: 39px;
    display: inline-flex;
    position: relative;
    bottom: 34px;
  }
  .password
  {
    bottom: 170%;
    height: 39px;
    display: inline-flex;
    position: relative;
    bottom: 0; 
    top: 4%;
  }