<ion-content>
  <div class="tfaLogo">
    <img src="../../assets/imgs/Logo.png" class="appLogo" />
  </div>
  <div class="card">
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="loginGrid">


      <ion-grid>
        <ion-row>
          <ion-col class="coliconImg">
            <!-- <img src="../../assets/imgs/icon2.PNG" class="iconImg" /> -->
            <ion-input formControlName="email" placeholder="Enter your email" class="usernameinp"><img src="../../assets/imgs/icon2.png"
                class="iconImg" /></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input formControlName="password" placeholder="Password" type="password" class="password"><img src="../../assets/imgs/icon1.PNG"
                class="iconImg" /></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button type="submit" class="submitBtn">Login</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8">
            <!-- <ion-label class="forgetPassword" [routerLink]="['/signup']" routerDirection="forward">Forget password?
            </ion-label> -->
          </ion-col>
          <ion-col size="4">
            <ion-label class="signup" [routerLink]="['/signup']" routerDirection="forward">Signup</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>