.searchDate {
  width: 80%;
  margin-left: 10%;
  padding-left: 10px;
  text-align: center;
}
.searchRow {
  background: white;
  width: 95%;
  margin-left: 3%;
  border-radius: 4px;
}
.searchGrid {
  background: #32546d;
  width: 50%;
  border-radius: 4px;
  margin: 15px auto;
  padding: 5px;
}
.bacgroundCircle{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.bigHeading{
    color: white;
    font-weight: 700;
}
.smallHeading{
    color: white;
    font-size: 10px;
}
.mainHeading{
    display: block;
    color: white;
    font-weight: 700;
}
.subHeading{
    color: #dcd018;
    font-weight: 700;
}
.paragraph{
    color: white;
}
.someDetail{
    text-align: center;
    display: block;
    color: #b0afb0;
}
ion-fab-button{
    height: 25px;
    width: 25px;
}