<ion-header>
  <ion-toolbar>
    <ion-title>Activities</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="searchGrid">
    <div class="searchRow">
      <ion-datetime class="searchDate" displayFormat="YYYY-MM-DD" (ionChange)="onChangeDate($event)" placeholder="Select Date"></ion-datetime>
    </div>
  </div>
  <ion-fab vertical="top" horizontal="end" slot="fixed" style="top: 70px;" (click)="playerTimingsModal()">
    <ion-fab-button>
      <ion-icon name="time"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <div class="bacgroundCircle">
          <span class="bigHeading">{{foodCount}} </span>
          <span class="smallHeading">/5</span>
        </div>
      </ion-col>
      <ion-col size="10">
        <span class="mainHeading"> Food </span>
        <div *ngFor="let food of foodDetail?.data">        
          <span class="subHeading">{{food.foodWorkoutName}}:</span>
        <span class="paragraph">{{food.foodDescription}}</span>
      </div>
      </ion-col>
      <ion-col>
        <span class="someDetail">The athelete will ideally eat 5 in proportion meals a day</span>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="2">
          <div class="bacgroundCircle">
            <span class="bigHeading">{{sleepHours}} </span>
            <span class="smallHeading">/hr</span>
          </div>
        </ion-col>
        <ion-col size="10">
          <span class="mainHeading"> Sleep </span>
          <div *ngFor="let sleepInfo of sleepDetail?.data">        
            <span class="subHeading">Sleep From:</span>
          <span class="paragraph">{{sleepInfo.startTime}}</span>
          <div><span class="subHeading">Sleep Till:</span>
            <span class="paragraph">{{sleepInfo.endTime}}</span></div>
        </div>
        </ion-col>
        <ion-col>
          <span class="someDetail">Players need to be sleeping between 8-10 hours a day</span>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col size="2">
            <div class="bacgroundCircle">
              <span class="bigHeading">{{workoutTime}} </span>
              <span class="smallHeading">/hr</span>
            </div>
          </ion-col>
          <ion-col size="10">
            <span class="mainHeading"> Fitness </span>
            <div *ngIf="workoutDetail?.data">        
              <span class="subHeading" >From:</span>
            <span class="paragraph"  >{{workoutDetail?.data[0].startTime}}</span>
            <div><span class="subHeading">Till:</span>
              <span class="paragraph" >{{workoutDetail?.data[workoutDetail?.data?.length - 1].endTime}}</span></div>
          </div>
          </ion-col>
          <ion-col>
            <span class="someDetail">Players need to be workout between 1-2 hours a day</span>
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="2">
              <div class="bacgroundCircle">
                <span class="bigHeading">{{stretchTime}} </span>
                <span class="smallHeading">/min</span>
              </div>
            </ion-col>
            <ion-col size="10">
              <span class="mainHeading"> Stretch </span>
              <div *ngIf="stretchDetail?.data">        
                <span class="subHeading">From:</span>
              <span class="paragraph">{{stretchDetail?.data[0].startTime}}</span>
              <div><span class="subHeading">Till:</span>
                <span class="paragraph">{{stretchDetail?.data[stretchDetail?.data.length - 1].endTime}}</span></div>
            </div>
            </ion-col>
            <ion-col>
              <span class="someDetail">Players need to be Stretch between 10-30 minutes a day</span>
            </ion-col>
          </ion-row>
  </ion-grid>
</ion-content>