.card
{
   // padding-top: 5% !important;
    width: 95%;
   // margin-left: 2%;
}
.centerParagraph
{
    font-size: 11px;
    padding: 0 !important;
}
.iconImg {
    height: 31px;
    width: 41px;
    margin-bottom: 5px;
  }
  .coliconImg
  {
      padding: 0;
    height: 20px!important;
    width: 20px !important;
  }
  .usernameinp
  {
    //bottom: 170%;
    height: 39px;
    display: inline-flex;
    position: relative;
   // bottom: 34px;
  }
  .mailicon
  {
    height: 44px;
    //width: 36px;
}
  
  .emailinp
  {
    height: 39px;
    display: inline-flex;
    position: relative;
  }
  .password
  {
    top: 28%;
   // bottom: 170%;
    height: 39px;
    display: inline-flex;
    position: relative;
    //bottom: 0; 
  //  top: 4%;
  }
  .loginGrid
{
  --ion-grid-column-padding:0;	
}
.mailrow
{
    height: 29px;
}
.confirmpassword
{
    top: 56%;
    
     height: 39px;
     display: inline-flex;
     position: relative; 
}
.submitBtn
{
  margin-left: -5px;
}
.tfaLogo
{
    margin-top: 0 !important;
   
}
ion-item
{
  border-radius: 5px;    
  height: 39px;
  width: 100%;
  display: -webkit-inline-box;
  display: inline-flex;
  position: relative;
}
.gender
{
  bottom: 12px;
    height: 35px;
    width: -webkit-fill-available;
}