<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Signup</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div class="tfaLogo">
    <img src="../../assets/imgs/Logo.png" class="appLogo" />
  </div>
  <div>
    <ion-grid>
      <ion-row>
        <ion-segment (ionChange)="segmentChanged($event)">
          <ion-col size="6">
            <ion-segment-button class="tabcoach" checked value="coach">
              <img class="tabicon" src="../../assets/imgs/coach.PNG" />
              <ion-label class="centerParagraph">signup as a coach</ion-label>
            </ion-segment-button>
          </ion-col>
          <ion-col size="6">
            <ion-segment-button class="tabcoach" checked value="player">
              <img class="tabicon" src="../../assets/imgs/player.PNG" />
              <ion-label class="centerParagraph">signup as a player</ion-label>
            </ion-segment-button>
          </ion-col>
        </ion-segment>


        <!-- <ion-col size="6" class="tabcoach" (click)="setValue('Player')">
     
    </ion-col> -->
      </ion-row>
    </ion-grid>
    <div class="card">

      <form [formGroup]="coachForm" (ngSubmit)="signup()" class="loginGrid" *ngIf="this.activeSegment=='coach'">
        <ion-grid>
          <ion-row justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div>
                <ion-item>
                  <ion-input formControlName="fullName" class="usernameinp" placeholder="Enter your name" type="text"><img
                      src="../../assets/imgs/icon2.png" class="iconImg" /></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input formControlName="email" class="usernameinp" placeholder="Enter your email" type="email"><img
                      src="../../assets/imgs/icon3.png" class="iconImg mailicon" /></ion-input>
                </ion-item>
                <!-- <ion-input placeholder="Last Name" type="text"></ion-input> -->
                <ion-item>
                  <ion-input formControlName="password" placeholder="Password" type="password" class="usernameinp"><img
                      src="../../assets/imgs/icon1.PNG" class="iconImg" /></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input formControlName="confirmPassword" placeholder="Confirm Password" type="password" class="usernameinp"><img
                      src="../../assets/imgs/icon1.PNG" class="iconImg" /></ion-input>
                </ion-item>
              </div>
              <div>
                <ion-button type="submit" class="submitBtn">Signup</ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>

      <form [formGroup]="playerForm" (ngSubmit)="signup()" class="loginGrid" *ngIf="this.activeSegment=='player'">
        <ion-grid>
          <ion-row justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div>
                <ion-item>
                  <ion-input formControlName="fullName" class="usernameinp" placeholder="Enter your name" type="text">
                    <img src="../../assets/imgs/icon2.png" class="iconImg" /></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input formControlName="email" class="usernameinp" placeholder="Enter your email" type="email"><img
                      src="../../assets/imgs/icon3.png" class="iconImg mailicon" /></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input formControlName="position" class="usernameinp" placeholder="Enter Position" type="text"><img
                      src="../../assets/imgs/position.png" class="iconImg" /></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input formControlName="weight" class="usernameinp" placeholder="Enter Weight" type="text"><img
                      src="../../assets/imgs/weight.png" class="iconImg" /></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input formControlName="height" class="usernameinp" placeholder="Enter Height" type="text"><img
                      src="../../assets/imgs/height.png" class="iconImg" /></ion-input>
                </ion-item>
                <ion-item class="gender">
                    <ion-select [okText]="'Ok'"
                    [cancelText]="'Cancel'"
                    placeholder="Gender"
                    formControlName="gender">
                    <ion-select-option [value]="'Male'">
                     Male
                    </ion-select-option>
                    <ion-select-option [value]="'Female'">
                        Female
                       </ion-select-option>
                  </ion-select>
                  </ion-item>
                <!-- <ion-input placeholder="Last Name" type="text"></ion-input> -->
                <ion-item>
                  <ion-input formControlName="password" placeholder="Password" type="password" class="usernameinp"><img
                      src="../../assets/imgs/icon1.PNG" class="iconImg" /></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input formControlName="confirmPassword" placeholder="Confirm Password" type="password" class="usernameinp"><img
                      src="../../assets/imgs/icon1.PNG" class="iconImg" /></ion-input>
                </ion-item>
              </div>
              <div>
                <ion-button type="submit" class="submitBtn">Signup</ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </div>
  </div>
</ion-content>