<ion-content>
  <p class="heading">Tip:</p>
  <span class="paragraph">
   This is the summary of daily routine of players/athletes with food per day, sleep per hour,fitness per hour and stretch per minutes
  </span>
</ion-content>