.toolbar .toolbar-background {
  background: #0c3958;
}
.toolbar-background {
  background: #0c3958;
}
ion-header {
  text-align: center;
}
ion-toolbar div.toolbar-background {
  background: #0c3958;
}
.logout {
  display: inline;
  position: absolute;
  top: 11%;
  right: 4%;
  color: #0c3958;
  --background: white;
  border: 2px solid rgb(17, 81, 123);
  border-radius: 7px;
}
.topbg {
  height: 32%;
}
.circle-pic {
  margin: -40px 0 0 10px;
  width: 80px;
  height: 80px;
  padding-left: 0;
  border-radius: 50%;
}
.camIcon {
  height: 37px;
  position: absolute;
  display: inline;
  left: 70px;
}
.nameTxt {
  color: white;
  display: block;
  width: 100px;
  text-align: center;
}
.emailTxt {
  color: gainsboro;
  font-size: 14px;
  background: #32546d;
  padding: 4px;
  margin-left: 10px;
}
.sloganTxt {
  color: gainsboro;
  font-size: 14px;
  border-radius: 3px;
  display: block;
  text-align: center;
}
.calanderImg {
  height: 60px;
  position: absolute;
  display: inline;
  right: 4%;
  top: 31%;
}
.heading {
  color: white;
  padding-left: 10px;
}
.infoCol {
  text-align: center;
  color: gainsboro;
  border: 1px solid gainsboro;
  border-radius: 14px;
  height: 41px;
  width: 110px;
  left: 9%;
}
.infoGrid {
  width: 100%;
  display: grid;
}
.secondCol {
  left: 20%;
}
.profileSpan {
  display: inline;
  position: relative;
  top: 6px;
}
.secondRow {
  margin-top: 21px;
}
.hintImg {
  height: 30px;
  margin-left: 88%;
  top: 75%;
}
.dailyInfo {
  top: 77%;
  left: 1%;
  display: grid;
  width: 100%;
  color: white;
}
.detail {
  background: #32546d;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin: 0% 20%;
}
.detailRow {
  padding: 18px 35px 15px 52px;
}
.foodDetail {
  right: 17%;
}
.sleepDetail {
  right: 11%;
}
.fitnessDetail {
  right: 4%;
}
.StretchDetail {
  left: 5%;
}
.more {
  color: gainsboro;
  text-align: center;
}
.basicHeading {
  text-align: center;
}
