<ion-header>
  <ion-toolbar class="toolbar">
    <ion-title>Profile</ion-title>
    <ion-button *ngIf="this.roleCode=='PLAYER'" class="logout" (click)="globalService.logout()">Logout</ion-button>
  </ion-toolbar>

</ion-header>

<ion-content>
  <img class="topbg" src="../../assets/imgs/topbg.png" />
  <div>
    <img class="circle-pic" src="../../assets/imgs/userImage.jpg" />
    <img *ngIf="this.roleCode=='PLAYER'" class="camIcon" src="../../assets/imgs/Img-logo.png" />
  </div>
  <div>
    <span class="nameTxt">{{this.userProfile?.data.fullName}}</span>
    <div style="padding-top: 10px;">
      <span class="emailTxt">{{this.userProfile?.data.email}}</span>
    </div>
  </div>

  <img *ngIf="this.roleCode=='PLAYER'" class="calanderImg" src="../../assets/imgs/calander.png"
    [routerLink]="['/home']" />
  <p class="sloganTxt">Take the leap to better health with us</p>
  <p class="heading">User Information</p>
  <ion-grid class="infoGrid">
    <ion-row>
      <ion-col size="4" class="infoCol"><span class="profileSpan">{{this.userProfile?.data.gender}}</span></ion-col>
      <ion-col size="4" class="infoCol secondCol"><span class="profileSpan">{{this.userProfile?.data.position}}</span>
      </ion-col>
    </ion-row>
    <ion-row class="secondRow">
      <ion-col size="4" class="infoCol"><span class="profileSpan">{{this.userProfile?.data.height}}</span></ion-col>
      <ion-col size="4" class="infoCol secondCol"><span class="profileSpan">{{this.userProfile?.data.weight}} KG</span>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf="this.roleCode=='COACH'">
    <img (click)="openProfileTipModal()" src="../../assets/imgs/hint.png" class="hintImg" />
    <ion-grid class="dailyInfo">
      <ion-row>
        <ion-col class="basicHeading"><span>Food</span></ion-col>
        <ion-col class="basicHeading"><span>Sleep</span></ion-col>
        <ion-col class="basicHeading"><span>Fitness</span></ion-col>
        <ion-col class="basicHeading"><span>Stretch</span></ion-col>

      </ion-row>
      <ion-row class="">
        <ion-col size="3" class=""><span class="detail">{{foodCount}}/5</span></ion-col>
        <ion-col size="3" class=""><span class="detail">{{sleepHours}}hrs</span></ion-col>
        <ion-col size="3" class=""><span class="detail">{{workoutTime}}hrs</span></ion-col>
        <ion-col size="3" class=""><span class="detail">{{stretchTime}}mins</span></ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p class="more" [routerLink]="['/profile-detail',userid]">More Details</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>