// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
ion-toolbar {
  --background: var(--primaryColor);
  --color: var(--ion-color-tertiary-contrast);
  --min-height: 56px;
}
ion-content {
  height: 90%;
  --background: #0C3958;
}
ion-menu{
  ion-content{
    --background: var(--white);
  }
}
.appLogo {
  height: 110px;
  width: 100px;
}
.userImage{
  height: 150px;
  width: 150px;
  display: block;
  margin: 10px 0 0 10px;
}
.card {
  width: 85%;
    margin-left: 3%;
 
  padding-top: 10%;
  background: #32546D;
  
  padding: 7% 7%;
  margin-top: 2%;
  .sc-ion-input-md-h {
    background: var(--white);
    border-radius: 5px;
    //zwidth: 97%;
   border: none;
    margin: 25px auto;
    display: block;
    .native-input.sc-ion-input-md {
      margin-left: 10px;
      font-weight: 700;
    }
  }
  .sc-ion-textarea-md-h {
    background: var(--white);
    border-radius: 16px;
    width: 97%;

    margin: 15px auto;
    display: block;
    .native-textarea.sc-ion-textarea-md {
      margin-left: 10px;
      font-weight: 700;
    }
  }
  ion-datetime {
    background: var(--white);
    border-radius: 16px;
  
    width: 97%;
    margin: 15px auto;
    display: block;
    .datetime-text {
      margin-left: 10px;
      font-weight: 700;
    }
  }
  ion-select {
    background: var(--white);
    border-radius: 16px;
    width: 97%;
    margin: -12px 0 0 0;
    font-weight: 700;
  }
}
.centerHeading {
  text-align: center;
  display: block;
  color: var(--white);
  font-size: 22px;
  font-weight: 700;
}
.centerParagraph {
  text-align: center;
  display: block;
  color: var(--white);
  font-size: 18px;
  font-weight: 700;
  padding: 10px 0;
}

.submitBtn {
  --background: var(--white);
  color: var(--black);
  border: 2px solid #162094;
  font-weight: 700;
  display: block;
  margin: 0 auto;
  width:  auto;
  border-radius: 5px;
}
:focus {
  outline: none;
}
.loginGrid
{
  --ion-grid-column-padding:0;	
}
.tfaLogo
{
    text-align: center;
    margin-top: 25%;
   
}
.tabicon
{
  width: 75px;
}
.tabcoach
{
text-align: center;
}
.iconImg {
  height: 31px;
  width: 41px;
  margin-bottom: 5px;
}
.coliconImg
{
    padding: 0;
  height: 20px!important;
  width: 20px !important;
}
.usernameinp
{
  height: 39px;
  display: inline-flex;
  position: relative;
  bottom: 27%;
}
.password
{
  bottom: 170%;
  height: 39px;
  display: inline-flex;
  position: relative;
  bottom: 0; 
  top: 4%;
}
.startBtn
{
  margin-left: 38px;
  border-radius: 11px;
  width: 104px;
  color: #2daf2d;
  font-weight: 900;
  font-size: 20px;
  background-color: white;
  height: 36px;
}
.stopBtn
{
  margin-left: 24%;
    border-radius: 11px;
    width: 104px;
    color: white;
    font-weight: 900;
    font-size: 20px;
    background-color:red;
    height: 36px;
}
.back-button-has-icon-only.sc-ion-back-button-md-h {
  display: block;
}
.playerProfileTipModal {      
  .modal-wrapper {
    height: 200px;
    margin: 50% 15% 50% 15%;
    border-radius: 10px;
    border: 1px solid #046587;
  }
}
.PlayerTimingModal{      
  .modal-wrapper {
    height: 200px;
    margin: 50% 15% 50% 15%;
    border-radius: 10px;
    border: 1px solid #046587;
  }
}