ion-card {
  --background: var(--white);
  height: 90px;
  border-radius: 13px;
}
.stretching {
  width: 70px;
  display: inline;
  position: absolute;
}
.lowerText {
  padding: 0 0 13px 55px;
  display: inline;
  position: relative;
  font-size: 15px;
  font-weight: 700;
  color: black;
}
.redText {
  color: var(--ion-color-danger);
  font-weight: 800;
  font-size: larger;
}
.imgcol {
  height: 56px;
  padding: 0;
  display: inline;
}
.label {
  display: inline;
  position: absolute;
  padding: 24px 0 0 55px;
  font-size: 17px;
  font-weight: 700;
  color: black;
}
.submitBtn {
  width: 86px;
  border: 2px solid #e9e47a;
  height: 28px;
  border-radius: 7px;
}
.buttoncol {
  padding: 18px 0 0 0;
  display: inline;
}
