<ion-content>
  <div class="tfaLogo">
    <img src="../../assets/imgs/Logo.png" class="appLogo" />
  </div>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col class="imgcol" size="6">
          <img class="stretching" src="../../assets/imgs/stretching.png" id="strecthingimg" /><span
            class="label">Stretching</span></ion-col>
        <ion-col class="buttoncol" size="6">
          <ion-button class="submitBtn" [routerLink]="['/stretching']">Start</ion-button>
        </ion-col>
      </ion-row>
      <p class="lowerText"><b class="redText">0</b>/60mins</p>
    </ion-grid>
  </ion-card>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col class="imgcol" size="6">
          <img class="stretching" src="../../assets/imgs/workout.png" id="strecthingimg" /><span
            class="label">Workout</span></ion-col>
        <ion-col class="buttoncol" size="6">
          <ion-button [routerLink]="['/workout-list']" class="submitBtn">Start</ion-button>
        </ion-col>
      </ion-row>
      <p class="lowerText redText" style="font-weight: 700;">6hrs</p>
    </ion-grid>
  </ion-card>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col class="imgcol" size="6">
          <img class="stretching" src="../../assets/imgs/food.png" id="strecthingimg" /><span class="label">Food</span>
        </ion-col>
        <ion-col class="buttoncol" size="6">
          <ion-button class="submitBtn" [routerLink]="['/add-food']">Add</ion-button>
        </ion-col>
      </ion-row>
      <p class="lowerText redText" style="font-size: 12px; font-weight: 700;">Egg/Bread,Fruite,Chicken</p>
    </ion-grid>
  </ion-card>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col class="imgcol" size="6">
          <img class="stretching" src="../../assets/imgs/sleep.png" id="strecthingimg" /><span
            class="label">Sleep</span></ion-col>
        <ion-col class="buttoncol" size="6">
          <ion-button class="submitBtn" [routerLink]="['/sleep']">Add</ion-button>
        </ion-col>
      </ion-row>
      <p class="lowerText redText" style="font-weight: 700;">6hrs</p>
    </ion-grid>
  </ion-card>
</ion-content>