<ion-content>
  <div class="tfaLogo">
    <img src="../../assets/imgs/Logo.png" class="appLogo" />
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="8">
        <img class="skippingImg" src="../../assets/imgs/skipping.png"/> <span class="workoutTxt">Skipping</span>
        
      </ion-col>
      <ion-col class="pincol">
        <img [routerLink]="['/workout-start','Skipping']" class="pin" src="../../assets/imgs/pin.png"/>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">
        <img  class="skippingImg" src="../../assets/imgs/Walking.png"/> <span class="workoutTxt">Walking</span>
        
      </ion-col>
      <ion-col class="pincol">
        <img [routerLink]="['/workout-start','Walking']" class="pin" src="../../assets/imgs/pin.png"/>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">
        <img class="skippingImg" src="../../assets/imgs/BicepCurls.png"/> <span class="workoutTxt">Arm Curls</span>
        
      </ion-col>
      <ion-col class="pincol">
        <img [routerLink]="['/workout-start','Bicep Curls']" class="pin" src="../../assets/imgs/pin.png"/>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="8">
        <img class="skippingImg" src="../../assets/imgs/benchPress.png"/> <span class="workoutTxt">Bench Press</span>
        
      </ion-col>
      <ion-col class="pincol">
        <img [routerLink]="['/workout-start','Bench Press']" class="pin" src="../../assets/imgs/pin.png"/>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
