.skippingImg
{
   height: 100px;
}
.workoutTxt
{
    color: white;
    display: inline;
    position: absolute;
    padding: 16% 0 0 3px;
    font-weight: 800;
}
.pin{
    height: 70px;
}
.pincol
{
    padding: 22px 0 0 20px;
}